@mixin flex-center {
  display: flex;
  justify-content: center;
}

.archive-ai-content {
  width: 100%;
  margin-top: 28px;
  direction: rtl;

  // container of ai files map function
  .ai-files-container {
    height: 532px;
    overflow-y: auto;
    padding: 1px;
    padding-left: 2px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  // pagination
  .pagination-container {
    @include flex-center;
    margin-top: 20px;

    .pagination {
      @include flex-center;

      li {
        @include flex-center;
        margin: 0 2px;
        align-items: center;
        width: 25px;
        height: 25px;
        border-radius: 50px;
        user-select: none;
        cursor: pointer;
        color: $primary-black-color;
        background-color: $secondary-white-color-80;
      }
      li.active {
        color: $primary-white-color;
        background-color: $secondary-green-color-60;
      }
      li.previous,
      li.next {
        color: $primary-black-color;
        background-color: $secondary-white-color-80;
        margin: 0 0px;
      }
      li.disabled {
        pointer-events: none;
        opacity: 1;
      }
    }
  }
}

// responsive
@media (max-width: 800px) {
  .archive-ai-content {
    width: 88vw;
  }
}

@media (max-height: 810px) {
  .archive-ai-content {
    .ai-files-container {
      max-height: 415px;
    }
  }
}

@media (max-height: 721px) {
  .archive-ai-content {
    .pagination-container {
      margin-top: 0px;
    }
  }
}
