.home-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 86px;

  .home-up-title {
    font-size: 28px;
    font-weight: 600;
    color: $primary-green-color;
    line-height: 48px;
  }
  .home-up-subtitle {
    font-size: 16px;
    font-weight: 400;
    color: $secondary-gray-color-50;
    max-width: 434px;
    direction: rtl;
    text-align: center;
  }
}

// responsive
@media (max-height: 721px) {
  .home-up {
    margin-top: 50px;
  }
}
