// archive main component
@mixin media-query($maxWidth, $clName, $clDate, $clType, $clDuration, $lSpace) {
  @media (max-width: $maxWidth) {
    .archive-main {
      .header {
        .cl-name {
          flex: $clName;
        }
        .cl-date {
          flex: $clDate;
        }
        .cl-type {
          flex: $clType;
        }
        .cl-duration {
          flex: $clDuration;
        }
        .last-space {
          flex: $lSpace;
        }
      }
    }
  }
}

// archive ai file
@mixin media-query-files(
  $maxWidth,
  $aifName,
  $aifDate,
  $aifType,
  $aifDuration,
  $aifTools
) {
  @media (max-width: $maxWidth) {
    .ai-file {
      .ai-file-top {
        .ai-file-name {
          flex: $aifName;
        }
        .ai-file-date {
          flex: $aifDate;
        }
        .ai-file-type {
          flex: $aifType;
        }
        .ai-file-duration {
          flex: $aifDuration;
        }
        .ai-file-tools {
          flex: $aifTools;
        }
      }
    }
  }
}

// archive ai files/list preview
@mixin media-query-skeleton(
  $maxWidth,
  $sknName,
  $sknDate,
  $sknType,
  $sknDuration,
  $sknTools
) {
  @media (max-width: $maxWidth) {
    .archive-ai-content {
      .ai-files-container {
        .skeleton-container {
          .skeleton-name {
            flex: $sknName;
          }
          .skeleton-date {
            flex: $sknDate;
          }
          .skeleton-type {
            flex: $sknType;
          }
          .skeleton-duration {
            flex: $sknDuration;
          }
          .skeleton-tools {
            flex: $sknTools;
          }
        }
      }
    }
  }
}
