// primary colors
$primary-black-color: #000000;
$primary-white-color: #ffffff;
$primary-blue-color: #118ad3;
$primary-red-color: #ff1654;
$primary-green-color: #00ba9f;
$primary-gray-color: #626262;

// secondary colors
$secondary-black-color: #3d3d3d;
$secondary-white-color: #f0f0f0;
$secondary-red-color: #dc3545;
$secondary-green-color: #02816e;
$secondary-gray-color: #626262;

// secondary hue colors
$secondary-white-color-90: #fdfdfd;
$secondary-white-color-80: #fefefe;
$secondary-white-color-70: #f8f8f8;
$secondary-white-color-60: #f2f2f2;
$secondary-green-color-80: #00b3a1;
$secondary-green-color-70: #00b5a0;
$secondary-green-color-60: #07b49b;
$secondary-green-color-50: #00c69b;
$secondary-green-color-40: #40c6b8;
$secondary-gray-color-70: #898989;
$secondary-gray-color-60: #8f8f8f;
$secondary-gray-color-50: #969696;
$secondary-gray-color-40: #9d9d9d;
$secondary-gray-color-30: #c6c6c6;
$secondary-gray-color-20: #dadada;
